@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root
{
    --cor-primaria: #00ACE6;
    --cor-secundaria: #001BE6;
    --cor-terciaria: #0063E6;
    --cor-quaternaria: #00E6D5;
    --cor-quintenaria: #2F00E6;
    --cor-sextenaria: #5E98E6;
    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

{
    margin: 0;
    padding: 0;
}
    body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-primaria);
   
}
    h1{
        color: var(--cor-terciaria);
}

    p{
        color: var(--cor-quintenaria);
}
    footer{
        background-color: var(--cor-terciaria);
        color: var(--cor-quaternaria);
 }
    .destaqueazul{
        color: var(--cor-secundaria);
        font-weight: 800;
}

    .apresentacao{
        padding: 5% 15%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 82px;
}   
    .apresentacao_conteudo{
        width: 50%; 
        display: flex;
        flex-direction: column;
        gap: 40px;

}  
    .apresentacao_conteudo_titulo{
        font-size: 2.25rem;
        font-family: var(--fonte-principal);
        font-weight: 400;
        font-style: normal;
        width: 593px;
        height: 168px;
}
    .apresentacao_conteudo_texto{
        font-size: 1.5rem;
        font-family: var(--fonte-secundaria);
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        width: 593px;
        height: 144px;
}
    .apresentacao_links{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
}
    .image_profile{
        width: 50%;
        margin: 58px;
        filter: drop-shadow(8px 8px 10px var(--cor-terciaria))
}
    .apresentacao_links_link{
        /* background-color: #00FFFF; */
        display: flex;
        justify-content: center;
        border: 2px solid var(--cor-secundaria);
        gap: 16px;
        width: 50%;
        border-radius: 8px;
        text-align: center;
        font-size: 1.5rem;
        padding: 21.5px 0px;
        margin: 5px;
        text-decoration: none;
        color: var(--cor-terciaria);
        font-family: var(--fonte-secundaria);
        font-weight: 600;
        box-shadow: 5px 10px var(--cor-sextenaria);
}
    .apresentacao_links_link:hover{
        background-color: var(--cor-quintenaria);
        color: var(--cor-primaria);
        transition: 0.3s;
}

    .rodape{
        padding: 24px;
        text-align: center;
        background-color: var(--cor-secundaria);
        color: var(--cor-primaria);
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
        font-weight: 400;
}
    .cabecalho{
        padding: 2% 0% 0% 15%;
        background-color: var(--cor-secundaria);
        font-family: var(--fonte-secundaria);
        font-size: 1.5rem;
        font-weight: 400;
}
    .cabecalho_menu{
        display: flex;
        gap: 80px;
}
    .cabecalho_menu_link{
        font-size: 1.5rem;
        color: var(--cor-quaternaria);
        text-decoration: none;
        font-family: var(--fonte-secundaria);
        font-weight: 600;
}
    .cabecalho_menu_link:hover{
        color: var(--cor-quintenaria);
        transition: 0.3s;
}

@media (max-width: 998px){
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .cabecalho{
        padding: 10%;
    }
    .cabecalho_menu{
        justify-content: center;
    }
    .apresentacao_conteudo{
        width: auto;
    }
}